
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    width: 100%;
    margin: 0% 0% auto;
    background-color: white;
    /**background: rgb(169, 237, 169);**/
}
.container{
    display: flex;
    width: 100%;
.left{
    width: 35%;
    border-radius: 0% 100% 100% 0%;
    background-image: url("https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGxlYXZlc3xlbnwwfHwwfHx8MA%3D%3D");
}
.right{
    width: 65%;
    background-color: white;
}}
@media (min-width: 768px){
    html,body{
        width: 100%;
        margin: 0px auto;
    }
}
h1 {
    margin: 5% 20% auto;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 58px;
    background: linear-gradient(to right, #7EB72b, #58801e,#324911, #192408);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.pic{
    display: block;
    width: 40%;
    height: 250px;
    margin: 2% 30% auto;
    background-color: white;
}
p{
    font-size: 15px;
    line-height: 1.5em;
    margin: 0% 39% auto;

}

h1 span{
    color:rgb(126, 183, 34);
}


.txt{
    .inf{
        font-size: 18px;
        color:rgb(126, 183, 34);
        margin: 5px 50px 10px 50px;
        text-align: center;
    }
}

hr{
    margin: 7px 0px;
    border: 1px solid rgba(168, 172, 160, 0.459);
}

#uploadImage{
    border: 1px solid #5c55552e;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.wrp{
    align-items: center;
    text-align: center;
    padding: 0% 5%;
    margin: 0% 25%;
    background-color: #fff;
    color: rgb(13, 13, 13)
}



.upload-btn-wrapper{
    position: relative;
    overflow:hidden;
    display:inline-block;
    cursor:pointer;
    font-family: 'Poppins',sans-serif;
    width: 70%;
    margin: 5% 10% 5% 15%;
    
}
.upload-file{
    border:2px dashed #eee;
    color:#9b9b9b;
    background-color: white;
    width:100%;
    height:250px;
    border-radius: 8px;
    font-size:12px;
    cursor: pointer;
}
.upload-btn-wrapper input[type=file]{
    width:100%;
    position: absolute;
    left:0;
    right:0;
    top:0;
    opacity: 0;
    cursor: pointer;
    min-height: 300px;
}
.success-1, .success-2{
    display:none;
    color:rgb(126, 183, 34);

}
.success-1 i, .success-2 i{
    font-size: 10px !important;
    margin-left:6px;
    margin-top:4px;
    color: rgb(126, 183, 34);
    padding: 5px;
    border-radius: 50%;
}
.font-50{
    font-size:20px;
}
.d-block{
    display:block;
}
.btn .upload-file{
    font-size: 20px;
}
.upload-btn{
    display:block;
    font-size: 18px;
    color: rgb(126, 183, 34);
    #choose-text-1{
        font-size: 14px;
    }
}

.upload-btn i{
    font-size: 110px;
}

img{
    width: 80%;
    height: auto;
    margin-left: 20px;
    display: none;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    width: 80%;
    margin: 0% 0% 20%  10% ;
    }
    
.box{
    width:50%;
}

.box img{
    border-radius: 20px;
    height: auto;
}

.box-result p{
    background: rgb(126,184,34);
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    display : none;
    text-align: center;
}

.box-result{
    display: none;
}

.accuracy{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


.progress {
width: 35%;
height: 30%;
position: relative;
display: flex;
align-items: center;
justify-content: center;
background-color: #fff;

}

.progress > .inner {
position: absolute;
color: rgb(126, 183, 34);
background-color: white;
}

.progress > svg {
height: 100%;
background-color: white;
display: block;
}

.init_status{
    background: rgb(126, 183, 34);
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out .5s;
    text-align: center;
    margin: 10px 0px;

}

@media (max-width: 768px){
    .box{
        width: 100%;
    }
}

.tutorial{
    text-align: center;
    color: #fcf9f9;
}

path {
    stroke: rgb(126, 183, 34);
    stroke-width: 10;
    fill-opacity: 0.0;
}

